# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\11900543\Documents\TIN\2TIN\Java Advanced\h0_streamingService\JavaAdvStreamingServiceV1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
